.metadata
*.class
*.jar
*.o
*.d
appcompat_v7/bin/
appcompat_v7/gen/
HLSPlayerSDK/bin/
HLSPlayerSDK/gen/
HLSPlayerSDK/libs/
HLSPlayerSDK/obj/
VideoPlayer/bin/
VideoPlayer/gen/
*.dmp
KalturaPlayerRobotium/bin/
KalturaPlayerRobotium/gen/
KalturaPlayerTests/local.properties
Tools/ColorConversionTest/Debug/
Tools/ColorConversionTest/ColorConversionTest/Debug/
*.suo
*.sdf
*.vcxproj.user
